<div class="modal">
  <div class="modal__content">
    <button type="button" class="modal__close">
      <img src="assets/images/cancel.svg" alt="Закрыть" />
    </button>

    <ul class="social">
      <li class="social__item">
        <a href="" class="social__link" 
          ><img
            src="../assets/images/facebook.svg"
            alt=""
            class="social__icon"
        /></a>
      </li>
      <li class="social__item">
        <a href="" class="social__link" 
          ><img
            src="../assets/images/twitter.svg"
            alt=""
            class="social__icon"
        /></a>
      </li>
      <li class="social__item">
        <a href="" class="social__link" 
          ><img class="social__item--big"
            src="../assets/images/vk.svg"
            alt=""
            class="social__icon"
        /></a>
      </li>
      <li class="social__item">
        <a href="" class="social__link" 
          ><img
            src="../assets/images/copy.svg"
            alt=""
            class="social__icon"
        /></a>
      </li>
    </ul>
  </div>
  <!-- /.modal__content -->
</div>
<!-- /.modal -->
