@import url("reset.css");


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');


body{
  background-color: #fff;
  font-family: "Poppins",sans-serif;
}


.our__works{
  margin: 0 0 100px 0;
}


.container{
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


/* HEADER
==================== */
.header{
  width: 100%;
position: absolute;
top: 0;
left: 0;
}


.header__wrapper{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav_menu{
  display: inline-block;
}


.nav_link{
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 35px;
  position: relative;
}

.nav_link:last-child{
  margin-right: 0px;
}


.btn__header{
font-weight: 600px;
font-size:15px;
color: #fff;
text-transform: uppercase;
margin-right: 8px;
position: relative;
padding: 0px;
}


.btn__header:last-child{
  margin-right: 0px;
}


.active{
  color: #B7B7B7;
}


.nav_link:hover:after{
 opacity: 1;
 transition: opacity .7s;
}


.nav_link::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-top: 2.5px;
  position: absolute;
  left: 0 bottom: -5px;
  opacity: 0;
}

/* /HEADER
==================== */



/* btn
==================== */
.btn{
  background-color: transparent;
}

/* /btn
==================== */



/* INTRO
==================== */
.intro{
  background-repeat: no-repeat;
  background-size: cover;
  height: 87vh;
}


.intro__block{
  padding-top: 190px;
}

.intro__title{
  max-width: 791px;

}


h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  color: #fff;
  text-transform: uppercase;
  text-align: inherit;
}


.btn__red{
  color: #fff;
  background-color: #DB2512;
  padding: 12px 48px;
  font-size: 18px;
  transition: background-color .2s linear;
  max-width: 200px;
  max-height: 50px;
  min-width: 200px;
  min-height: 50px;
}


.btn__intro:hover{
  background-color: #c31200;
}


.intro__btn{
  margin-top: 53px;
}

/* /INTRO
==================== */

.services{
  margin-bottom: 100px;
}

/* INFO
===================== */
.SERVICES{
  background-color: #fff;
}


.info{
  transform: translateY(-50%);
}


.info__item{
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  padding: 40px 40px 35px;
}


.info__title{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: ;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-bottom: 15px;
}


.info__text{
  font-size: 18px;
  font-weight: 400;
  color: #B7B7B7;
}


.info__img{
margin-bottom: 20px;

}


.info__img img{
height: 30px;
}

/* /INTRO
==================== */



/* SERVICES
==================== */
.block__title{
  font-size:30px;
  font-weight:700;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .15em;
  margin-bottom: 15px;
}


.block__link{
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: .15em;
  text-decoration: underline;
  margin-bottom: 60px;
}


.wrapper{
  display: flex;
  margin: 0 -10px;
}


.block{
  width: 33.333%;
  padding: 0 10px;
}


.services__title{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .15em;
  color: #000;
}


.services__text{
  max-width: 270px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .23em;
  line-height: 23px;
  color: #fff;
  position: absolute;
  bottom: 30px;
  left: 30px;
  opacity: 1;
}


.services__item:hover .services__content::after{
  opacity: .7;
}


.services__item:hover .services__wraper__obv{
opacity: 1;
}


.services__content{
height: 500px;
background-repeat: no-repeat;
margin-bottom: 20px;
position: relative;
background-size: cover;
}


.services__content::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
  transition: opacity .2s linear;
}


.services__wraper__obv{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .2s linear;
  z-index: 2;
}


.services__img{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color:#DB2512;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.services__item:hover{
  opacity: 1;
}

/* /SERVICES
==================== */



/* ABOUT
==================== */
.about{
  background-color: #171616;
  padding: 115px 0;
}


.about__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.about__block__title{
  max-width: 500px;
  width: 100%;

}


.block__title__about{
  color: #fff;
  font-weight:700;
  font-size:30px;
  line-height: 45px;
  margin-bottom: 42px;
}


.block__link__about{
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
}


.about__text{
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .25em;
  line-height: 22.5px;
  color: #B7B7B7;
  margin-bottom: 48px;
  text-align: left;
}

/* /ABOUT
==================== */



/*OUR_WORKS
==================== */
.works__title{
  font-size: 148px;
  font-weight: 900;
  line-height: 222px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 58px;
  padding-top: 99px;
  -ms-text-align: center;
  text-align: center;
}


.works__subtitle{
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: .15em;
  color #000;
  text-transform: uppercase;
  margin-bottom: 92px;
  text-align: center;
}


.works__item{
  padding: 30px 30px 15px;
  min-height: 140px;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
}

/* /OUR_WORKS
==================== */



/* CONTACTS
==================== */
.contacts{
  padding: 100px 0;
  background-color: #171616;
}


.contacts .block__title{
  margin-bottom: 40px;
}


.text__white{
  color: #fff;
}



.contacts__form{
 max-width: 440px;
}


.form__row{
 margin: 0 -20px;
 display: flex;
}


.form__group{
 padding: 0 20px;
 flex: 1;
 position: relative;
 margin-bottom: 30px;
}


.input{
 width: 100%;
 border-bottom: 1px solid #fff;
 background-color: transparent;
 color: #fff;
 padding: 9px 0;
 font-size: 15px;
 font-family: "Poppins",sans-serif;
}


.label{
  letter-spacing: .15em;
  color: #fff;
  position: absolute;
  left: 20px;
  top: 10px;
  pointer-events: none;
  transition: all .2s linear;
}


.input:focus + .label{
  transform: translateY(-15px);
  font-size: 12px;
}


.input:not(:placeholder-shown) + .label{
  transform: translateY(-15px);
  font-size: 12px;
}


.textarea{
  width: 100%;
  min-height: 130px;
  resize: vertical;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 9px 0;
  font-size: 15px;
  font-family: "Poppins",sans-serif;
}


.textarea:focus + .label{
  transform: translateY(-15px);
  font-size: 12px;
}


.textarea:not(:placeholder-shown) + .label{
  transform: translateY(-15px);
  font-size: 12px;
}


.btn__contacts{
  text-transform: uppercase;
}
/* /CONTACTS
==================== */



/* FOOTER
==================== */
.footer{

}


.foother__wrapper{
  display: flex;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}


.foother__social{
  display: flex;
  margin-right: 20px;
}


.foother__link:last-child{
  margin-right: 0;
}


.foother__link{
  margin-right: 20px;
}


.foother__link img{
  height: 25px;
}


.copyright{
  letter-spacing: .15em;
  margin-bottom: 20px;

}

/* /FOOTER
==================== */
